.main-div {
    width: 100%;
    height: 100vh;
    /* například – výška celé obrazovky */
    background-image: url("Pozadí3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex
        /*pokus*/
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-top: 30px;
    margin-left: 100px;
}

body {
    margin: 0;
    padding: 0;
}

.title {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 50px;
}

.title h3 {
    margin: 0;
}

.text {
    display: flex;
    color: white;
    font-size: 30px;
    justify-content: center;
    text-align: center;
}

.image {
    width: 55%;
    height: 50vh;
    background: url(DrzakyObrazek.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

@media (max-width: 1000px) {
    .main-div {
        background-position: 30% center; /* posune obrázek doprava */
    }

    .section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40%;
        margin: 0 auto;
        margin-top: 30px;
    }

    .text {
        display: flex;
        color: white;
        font-size: 25px;
        justify-content: center;
        text-align: center;
    }

    .image {
        width: 100%;
        height: 50vh;
        background: url(DrzakyObrazek.jpg) 50% 50%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}